header{
  background-color: rgb(52, 98, 167);
  padding: 5px 0;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  background-color: rgb(193, 218, 255);
}

.home {
  text-decoration: none;
  margin: 3px 0 0 30px;
  color: rgb(255, 255, 255);

}

.links{
  font-family: 'Times New Roman', Times, serif;
  margin: 0 30px;
  color: rgb(124, 176, 225);
  display: flex;
  font-size: 20px;
  align-items: center;
}

.menu li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.menu {
 padding: 0 30px;
 margin-left: auto;
}

.menu li a{
  
  text-decoration: none;
  color: white;
}

.menu li a:hover {
  color: rgb(38, 69, 94);
}

/*main*/

main h1{
  background-color:rgb(44, 94, 168);
  color: aliceblue;
  padding: 30px;
  text-align: left;
  width: 43%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.sub-head{
  margin: 30px;
  padding: 20px;
  background-color: rgb(44, 94, 168);
  color: white;
  border-radius: 50px;
  width: 38%;
  text-align: center;
  font-size: 20px;
}


#info{
  display: flex;
  
}


#col{
  width: 50%;
  color: rgb(44, 94, 168);
  padding: 20px;
  font-size: 20px;
}

#col ul{
  list-style-type:circle;

}

#col li{
  padding: 5px;
  font-size: larger;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.pic1{
  width: 400px;
  height:fit-content;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: 30px;

}

.container{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  margin: 20px;
  background-color: rgb(75, 114, 125);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 38%;
  text-align: center;
  font-size: 15px;
}

#About{
  margin: 30px;
  padding: 10px;
}

.pic2{
  width: 400px;
  height:fit-content;
  border-radius: 20px;
  display: block;
  margin: 30px;
}

footer{
  background-color: rgb(52, 98, 167);
  padding: 10px 0;
}

.demo{
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px;
}

.img22{
  width: 300px;
  height: auto;
  border-radius: 100px;
  filter: brightness(88%);
  margin: 30px;

}

#Contact{
  color: rgb(44, 94, 168);
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0 0 0 400px;
  text-align: center;
}

#Contact p {
  padding: 5px;
}





/*size*/
/* For small screens and phones */
@media screen and (max-width: 600px) {
 
  h1{
    font-size: 15px;
  }

  .links{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(124, 176, 225);
    display: flex;
    font-size: 10px;
  }
  
  .menu li {
    list-style-type: none;
    display: inline;
    padding: 10px;
  }

  .menu{
    margin-left: auto;
  }

  #Contact{
    color: rgb(44, 94, 168);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
  }

  .demo {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .img22 {
    width: 60%; /* Adjust image width */
    margin: 10px 0; /* Adjust margin */
  }

  
  .menu li a{
    
    text-decoration: none;
    color: white;
  }
  
  .menu li a:hover {
    color: rgb(38, 69, 94);
  }
  
  /*main*/
  
  main h1{
    background-color:rgb(44, 94, 168);
    color: aliceblue;
    padding: 30px;
    text-align: left;
    width: 43%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 17px;
  }
  
  .sub-head{
    margin: 30px;
    padding: 20px;
    background-color: rgb(44, 94, 168);
    color: white;
    border-radius: 50px;
    width: 38%;
    text-align: center;
    font-size: 10px;
  }
  
  
  #info{
    display:block;
    
  }
  
  
  #col{
    width: 50%;
    color: rgb(44, 94, 168);
    padding: 20px;
    font-size: 13px;
  }
  
  #col ul{
    list-style-type:circle;
  
  }
  
  #col li{
    padding: 5px;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  .pic1{
    width: 300px;
    height:fit-content;
    border-radius: 20px;
    display: block;
    margin: 5px auto;
  }
  
  .container{
    display:contents;
    margin: 20px;
    background-color: rgb(193, 218, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
  }
  
  #About{
    padding: 20px;
    font-size: mall;
  }
  
  .pic2{
    width: 300px;
    height:fit-content;
    border-radius: 20px;
    margin: 30px auto;
  }
  
  
  

  
}
